@use "assets/css/components/mixins";

@import "assets/css/variables";

html.h5p-iframe {
  font-family: $font-family;

  > body {
    font-family: inherit;
    background: transparent;

    &.h5p-fullscreen {
      background: $background-content;

      .h5p-content {
        .h5p-container {
          &.h5p-dragquestion {
            .h5p-question-content {
              > .h5p-inner {
                border-radius: 0;
                box-shadow: none;
              }
            }
          }
        }
      }
    }

    .h5p-content {
      background-color: transparent;
      border: none;

      .h5p-container {

        &.h5p-dragquestion {
          background-color: transparent;
          border: none;

          .h5p-question-content {
            @include mixins.button-3d-no-drop-shadow;

            border: none;

            > .h5p-inner {
              position: relative;
              border-radius: $border-radius;

              @media screen and (min-width: $site-width * 0.5) {
                border-radius: $border-radius-large;
              }

              .h5p-dropzone {
                > .h5p-inner.ui-droppable {
                  background: transparentize(white, 0.2) !important;
                  border: 1px solid $text-color;
                  border-radius: $border-radius * 0.5;

                  @media screen and (min-width: $site-width * 0.5) {
                    border-radius: $border-radius;
                  }

                  &.h5p-over {
                    background: transparentize(mix(white, $color-success, 50%), 0.2) !important;
                    border-color: darken($color-success, 30%);
                  }
                }
              }

              .h5p-draggable {
                &.h5p-advanced-text {
                  color: $text-color !important;
                  text-align: center;
                  background: $background-box-accent !important;
                  box-sizing: content-box;
                  border: 1px solid $border-color-box-accent !important;
                  border-radius: $border-radius * 0.5;

                  @media screen and (min-width: $site-width * 0.5) {
                    border-radius: $border-radius;
                  }

                  &.h5p-correct {
                    color: darken($color-success, 20%) !important;
                    background: mix($background-box-accent, white, 65%) !important;

                    .h5p-question-plus-one {
                      display: none;
                    }
                  }

                  &.h5p-wrong {
                    color: darken($color-failure, 20%) !important;
                    background: mix($background-box-accent, white, 65%) !important;

                    .h5p-question-minus-one {
                      display: none;
                    }
                  }

                  &:hover, &:active, &:focus {
                    background: mix($background-box-accent, $background-content, 95%) !important;
                  }

                  > p {
                    margin: -0.3em;
                    padding: 0 0.5em;
                    line-height: 1.85em;
                    font-weight: bold;

                    > span {
                      vertical-align: text-top;
                    }
                  }
                }
              }
            }
          }

          .h5p-question-scorebar {
            display: none;
          }
        }
      }

      .h5p-joubelui-button {
        background-color: $secondary-color;
        border-radius: $border-radius;
        transition: background 0.1s ease;

        &:hover, &:active, &:focus {
          background-color: #00adef;
          box-shadow: none;
        }
      }
    }
  }
}