$background-content: white !default;
$text-color: black !default;
$text-color-inverse: white !default;
$block-margin: 32 !default;
$border-radius-large: 16px !default;
$z-index-glow: 1 !default;

@mixin button-3d {
  display: block;
  position: relative;
  border-radius: $border-radius-large;

  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    border-radius: $border-radius-large;
    box-shadow: inset ($border-radius-large * 0.5) ($border-radius-large * 0.5) ($border-radius-large * 0.5) 0 transparentize($text-color-inverse, 0.75),
    inset (-$border-radius-large * 0.5) (-$border-radius-large * 0.5) ($border-radius-large * 0.5) 0 transparentize($text-color, 0.8),
            ($block-margin * 0.125) ($block-margin * 0.25) ($block-margin * 0.25) 0 transparentize($text-color, 0.9);
    transition: box-shadow 0.15s ease;
  }

  &:hover:after {
    box-shadow: inset ($border-radius-large * 0.5) ($border-radius-large * 0.5) ($border-radius-large * 0.5) 0 transparentize($text-color-inverse, 0.8),
    inset (-$border-radius-large * 0.5) (-$border-radius-large * 0.5) ($border-radius-large * 0.5) 0 transparentize($text-color, 0.85),
    0 ($block-margin * 0.125) ($block-margin * 0.125) 0 transparentize($text-color, 0.9);
  }

  img, video {
    border-radius: $border-radius-large;
  }
}

@mixin horizontal-scroll-glow {
  position: relative;

  &:after, &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: $block-margin * 3;
    pointer-events: none;
    z-index: $z-index-glow;
  }

  &:before {
    left: 0;
    background: radial-gradient(ellipse farthest-side at left, transparentize($background-content, 0.1), transparent);
  }

  &:after {
    right: 0;
    background: radial-gradient(ellipse farthest-side at right, transparentize($background-content, 0.1), transparent);
  }
}